body {
  background-color: #F8FAFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

@media (min-width:320px) {
  .App {
    width: 90vw;
  }
}

@media (min-width:480px) {
  .App {
    width: 90vw;
  }
}

@media (min-width:600px) {
  .App {
    width: 80vw;
  }
}

@media (min-width:801px) {
  .App {
    width: 75vw;
  }
}

@media (min-width:1025px) {
  .App {
    width: 60vw;
  }
}


/* typography will go here */




/* header */

.categories {
  display: flex;
  margin: 20px;
  width: 100%;
}

.categories>div {
  margin-right: 20px;
  cursor: pointer;
}

.categories>input {
  margin-right: 20px;
}

/* grid */
.blog-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  --auto-grid-min-size: 18rem;
  grid-gap: 1.5rem;
  width: 100%;
}


/* individual posts */
.post-preview {
  background: snow;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 10%) 0 7px 25px 0;
  cursor: pointer;
  text-align: center;
}

.post-preview:hover {
  box-shadow: rgb(50 50 93 / 25%) 0 30px 60px -12px;
  transform: translateY(-5px);
  -webkit-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

.post-preview__img {
  max-width: 100%;
  width: 100%;
  min-width: 80%;
  height: 300px;
  object-fit: cover;
}

.post-preview__text {
  padding: 16px;
}

/* post page */

.tag_cont {
  display: flex;
  margin-bottom: 20px;
}

.team_tools_cont {
  display: flex;
  /* margin-bottom: 20px; */
}

.team_tools {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
}